body {
  font-family: sans-serif;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

h1 {
  font-size: 1.5rem;
}

.chip-container {
  display: flex;
  padding: 20px;
}

.chip {
  padding: 5px;
  margin: 5px;
  background-color: rgb(159, 155, 155);
  border-radius: 20px/50%;
}

.x-btn {
  color: red;
  cursor: pointer;
}