.App {
    text-align: center;
}

.outer {
    border: 1px solid black;
    border-radius: 10px;
    overflow-y: hidden;
}

.inner {
    background-color: green;
    color: white;
    text-align: right;
    transition: 1.5s ease-in;
}